@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');

.gistTab {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Courier New';
    font-size: 1em !important;
    line-height: 1;
}

.codesnip-row {
    height: 0;
}

th, td {
	border-collapse: collapse;
	white-space: pre;
}
.line-num {
    background-color: #faf5f5;
    padding: 0 !important;
    /*font-family: 'Courier New';*/
}
.line-code {
    padding: 0 !important;
}

.gistwrapper {
	margin: auto;
	max-width: 525px;
	max-height: 300px;
	border: 1px solid #000000;
	border-radius: 5px;
	overflow: hidden;
}
.gist-content {
	width: 100%;
	max-height: 300px;
	overflow: auto;
}

/* LC3 Syntax Highlighting. */
.opcode {
	color: var(--opcode-color);
	font-weight: bold;
}
.directive {
	color: var(--directive-color);
	font-weight: bold;
}
.oscall {
	color: red;
	font-weight: bold;
}
.register {
	color: var(--register-color);
	font-weight: bold;
}
.number {
	color: orange;
}
.comment {
	color: var(--comment-color);
}
.string {
	color: var(--string-color);
}
/* End LC3 Syntax Highlighting. */