<div>
	<h1>
        16-bit 2sC Base Conversion
    </h1>
	
	<table>
	  <tr>
		<td colspan="2"><b>Input</b></td>
	  </tr>
	  <tr>
		<td>Decimal:</td>
		<td>#<input id="inDecimal" type="text" value=""></td>

	  </tr>
	  <tr>
		<td>Binary:</td>
		<td>b<input id="inBinary" type="text" value=""></td>
	  </tr>
	  <tr>
		<td>Hexadecimal:</td>
		<td>x<input id="inHex" type="text" value=""></td>
	  </tr>
	</table>
	
	<br>
	<label id="convStatus" class="status_lbl">... status ...</label>
	<br>

	<h1>
        16-bit 2sC Binary Arithmetic
    </h1>
	
	<table>
	  <tr>
		<td style="text-align: center"><b>Operand 1</b></td>
		<td style="text-align: center"><b>+/-</b></td>
		<td style="text-align: center"><b>Operand 2</b></td>
		<td style="text-align: center"><b>=</b></td>
		<td style="text-align: center"><b>Result</b></td>
	  </tr>
	  <tr>
		<td style="text-align: center"><input id="inOp1" type="text" value=""></td>
		<td style="text-align: center"><select id="selPlusMinus"><option value="plus">+</option><option value="minus">-</option></select></td>
		<td style="text-align: center"><input id="inOp2" type="text" value=""></td>
		<td style="text-align: center"><b>=</b></td>
		<td style="text-align: center"><input id="outResult" type="text" value="" readonly></td>
	  </tr>
	  <tr></tr>
	  <tr>
	    <td colspan="5" style="text-align: center"><button id="calcBtn" type="button">Calculate</button></td>
	  </tr>
	</table>
	
	<br>
	<label id="calcStatus" class="status_lbl">... status ...</label>
	<br>
	<br>
	
	<label>Binary Arithmetic:</label><br>
	<div id="txtboxResult" class="txtboxMath"></div>
	<script>callBaseConv();</script>
</div>