<div>
	<h1>
        Base Conversion
    </h1>
	
	<table>
	  <tr>
		<td colspan="3"><b>Input</b></td>
		<td colspan="2"><b>Output</b></td>
	  </tr>
	  <tr>
		<td>Decimal:</td>
		<td>#<input id="inDecimal" type="text" value=""></td>
		<td></td>
		<td>Decimal:</td>
		<td>#<label id="outDecimal" type="text" value=""></label></td>
	  </tr>
	  <tr>
		<td>Binary:</td>
		<td>b<input id="inBinary" type="text" value=""></td>
		<td></td>
		<td>Binary:</td>
		<td>b<label id="outBinary" type="text" value=""></label></td>
	  </tr>
	  <tr>
		<td>Hexadecimal:</td>
		<td>x<input id="inHex" type="text" value=""></td>
		<td></td>
		<td>Hexadecimal:</td>
		<td>x<label id="outHex" type="text" value=""></label></td>
	  </tr>
	</table>
	
	<br>
	<label id="lbl_status" class="status_lbl">... status ...</label>
	<br>

	<h1>
        Binary Arithmetic
    </h1>
	
	<table>
	  <tr>
		<td style="text-align: center"><b>Operand 1</b></td>
		<td style="text-align: center"><b>+/-</b></td>
		<td style="text-align: center"><b>Operand 2</b></td>
		<td style="text-align: center"><b>=</b></td>
		<td style="text-align: center"><b>Result</b></td>
	  </tr>
	  <tr>
		<td style="text-align: center"><input id="inOp1" type="text" value=""></td>
		<td style="text-align: center"><select id="selPlusMinus"><option value="plus">+</option><option value="minus">-</option></select></td>
		<td style="text-align: center"><input id="inOp2" type="text" value=""></td>
		<td style="text-align: center"><b>=</b></td>
		<td style="text-align: center"><input id="outResult" type="text" value="" readonly></td>
	  </tr>
	  <tr></tr>
	  <tr>
	    <td colspan="5" style="text-align: center"><button type="button" onclick="btnCalculate()">Calculate</button></td>
	  </tr>
	</table>
	
	<br>
	<label id="lbl_calc_status" class="status_lbl">... status ...</label>
	<br>
	<br>
	
	<label>Binary Arithmetic:</label><br>
	<div id="txtboxResult" class="txtboxMath"></div>
</div>