<!-- Start body.html -->
<div class="page-wrapper" tabindex="-1" role="main">
    {% if page.cover %}
        <img src="{{ page.cover }}"
             width="100%"
             height="{{ page.cover_height | default: '100%' }}"
             alt="{{ page.title | escape }}"
             style="object-fit: cover;"
        />
    {% endif %}

    <div class="page-inner">
        <div id="book-search-results">
            <div class="search-noresults">
                <section class="normal markdown-section">
                    {% assign subsection_object = site.data.navigation.subsections[page.title] %}
                    {% if page.title %}
                        <h1 id="{{ page.id }}">{{ subsection_object.title | escape }}</h1>
                    {% else %}
                        <h1 id="{{ page.id }}">{{ site.title | escape }}</h1>
                    {% endif %}

                    {{ content }}
                </section>
                <br><hr>
				<div>
                    <table style="width: 100%">
                        <tr>
				            <th style="text-align:left"><p>&copy; 2024-2025 LC3Tutor </p></th>
                            <th style="text-align:right"><a class="page-link" href="/privacy">Privacy</a></th>
                        </tr>
                    </table>
				</div>
            </div>

            {%- include search.html -%}
        </div>
    </div>
</div>

<!-- introduce mathjax support -->
{% include mathjax.html %}

<!-- introduce mathjax support -->
{% include fixes-chrome-anchors.html %}

<!-- Page specific javascript dynamic loading -->
{% if page.baseconv %}
<script>if(typeof idBaseConv === 'undefined'){loadScript('{{site.jsurl}}baseconv.js', function() {callBaseConv();});}else{callBaseConv();}</script>
{% endif -%}

{%- if page.lc3imagegen %}
<script>if(typeof idLc3ImageGen === 'undefined'){loadScript('{{site.jsurl}}lc3imagegen.js', function() {callLc3ImageGen();});}else{callLc3ImageGen();}</script>
{% endif -%}

<!-- End body.html -->