Instructions are at the end of the page.

<label>Width:</label> <input id="txtboxWidth" type="text" value="10" size="1">
<label>Height:</label> <input id="txtboxHeight" type="text" value="10" size="1">
<button type="button" id="btnLC3ImageSize">Update Size</button>
<label>Ignore: </label> <input type="color" id="ignColor" name="ignColor" value="#000000">
<label>Color: </label> <input type="color" id="selColor" name="selColor" value="#FFFFFF">
<br>

<canvas 	id="pixelCanvas"
			width="520"
			height="520"
			style="background-color: black">
</canvas>

<br>
<label>ORIG: x</label> <input type="text" id="ig3Orig" name="ig3Orig" value="5000">
<label>Prefix: </label> <input type="text" id="ig3Prefix" name="ig3Prefix" value="lc3image">
<button type="button" id="btnGenerateCode">Generate Code</button>
<button type="button" id="btnCopyCode">Copy</button>

<label>LC-3 Code Output: </label>
<br>
<textarea id="txtboxCode" class="txtboxCode" readonly></textarea>

INSTRUCTIONS:
<ol>
	<li>Choose the width and height of the image. You are limited to
		50 pixels on each side.</li>
	<li>Click "Update Size" and the green boundary will expand.</li>
	<li>Choose the color which is ignored by the generator. This means
		that the MSb of the color will be zero. If you want all colors
		to NOT be ignored, then pick a color you are not using***.</li>
	<li>Choose the color you want to turn the pixel. Then click that
		pixel inside the green boundary. Clicking outside the
		boundary does nothing.</li>
	<li>Once your image is ready, click "Generate Code" to get the LC-3.</li>
	<li>Copy the LC-3 to your file.</li>
	<li>Run the code.</li>
</ol>
*** Note: The LC-3 simulator ignores the MSb. This bit can be used to indicate
whether the color is printed or not. The generator sets this bit based on the 
ignore color that is selected. If you don't check the MSb then all pixels will
print regardless of MSb.