@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');

p.tester {
  color: var(--text-color) !important;
}

h1.tester {
  color: var(--text-color) !important;
}

.light-mode h1 {
  color: #252737 !important;
}

.dark-mode h1 {
  color: #bdcadb !important;
}

a.page-link {
  color: #bdcadb !important;
}

.ctnr_btn_start {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}

.center_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 725px;
}

/*
 * Table related CSS.
 *
 */
/*tr:nth-child(even) {
	background-color: #c3c6c9;
}*/

.td-c {
	text-align: center;
  padding: 0px;
}

.th-c {
	text-align: center;
  width: 200px;
}

.tr-c {
  height: 10px;
}

.accordion {
    background-color: #eee;
    background: transparent;
    color: #c1c6d7;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    list-style-type: none;
    font-weight: 600;
    font-size: 14px;
}

.accordion-inner {
    background: transparent;
    padding: 0px;
}

.accordion-inner-inner {
  background: transparent;
  padding-left: 54px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.active, .accordion:hover, .accordion-page:hover, .accordion-page:active {
    background-color: #252737;
    border: 1px solid #1c1f2b;
}

.accordion-page {
  padding: 14px 25px;
  text-decoration: none;
  display: inline-block;
}

.navi-link {
    padding-left: 0px;
}

.panel {
    padding-left: 0px;
    background: transparent;
    display: none;
    overflow: hidden;
}

ul {
    margin: 0;
    padding-left: 0;
}