@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');

.ctnr_btn_start {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}

.center_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 725px;
}

/*
 * Table related CSS.
 *
 */
tr:nth-child(even) {
	background-color: #c3c6c9;
}

.td-c {
	text-align: center;
}

.th-c {
	text-align: center;
}