/* Used for all global variables. */
:root {
    --text-color-light   : #333;
    --text-color-dark    : #bdcadb;
    --text-color         : var(--text-color-light);

    --h1-color-light     : #333;
    --h1-color-dark      : #fffffa;
    --h1-color           : var(--h1-color-light);

    --bg-color-light     : #fff;
    --bg-color-dark      : #1c1f2b;
    --bg-color           : var(--bg-color-light);

    --bg-nav-color-light : #fafafa;
    --bg-nav-color-dark  : #2d3143;
    --bg-nav-color       : var(--bg-nav-color-light);

    --accordian-active-color-light: #e6e6e6;
    --accordian-active-color-dark : #252737;
    --accordian-active-color      : var(--accordian-active-color-light);

    /* Begin LC3 Code Snip Colors. */

    --opcode-color-light : #5399ca;
    --opcode-color-dark  : #5399ca;
    --opcode-color       : var(--opcode-color-light);

    --comment-color-light: #006600;
    --comment-color-dark : #45873a;
    --comment-color      : var(--comment-color-light);

    --directive-color-light: #6f7a0c;
    --directive-color-dark : #8c897b;
    --directive-color      : var(--directive-color-light);

    --register-color-light: #800000;
    --register-color-dark : #42a171;
    --register-color      : var(--register-color-light);

    --string-color-light: gray;
    --string-color-dark : #d69d85;
    --string-color      : var(--string-color-light);

    --oscall-color-light: blue;
    --oscall-color-dark : #85d7ee;
    --oscall-color      : var(--oscall-color-light);

    --number-color-light: #f8a11e;
    --number-color-dark : #aec996;
    --number-color      : var(--number-color-light);

    --label-color-light: black;
    --label-color-dark : #dcd99b;
    --label-color      : var(--label-color-light);

    --unknown-color-light: #9381c8;
    --unknown-color-dark : #9381c8;
    --unknwon-color      : var(--unknown-color-light);

    --lc3code-bgc-light : #fafafa;
    --lc3code-bgc-dark  : #2d3143;
    --lc3code-bgc       : var(--lc3code-bgc-light);

    --linenumber-bgc-light: #e6e6e6;
    --linenumber-bgc-dark : #292d3d;
    --linenumber-bgc      : var(--linenumber-bgc-light);

    /* End LC3 Code Snip Colors. */

    /* Provided by gitbook. */
    --c-tip: #42b983;
    --c-tip-bg: #e2f5ec;
    --c-tip-text: #215d42;
    --c-tip-title: #359469;
    --c-warning: #e7c000;
    --c-warning-bg: rgba(255, 229, 100, .25);
    --c-warning-text: #6b5900;
    --c-warning-title: #b29400;
    --c-danger: #c00;
    --c-danger-bg: #ffe0e0;
    --c-danger-text: #600;
    --c-danger-title: #c00;
    --font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}