<style>
div.asciitab {
    overflow-y: auto;
    overflow-x: auto;
    max-height: 700px;
}
table.asciitab {
    font-size: 10px;
}
tr.asciitab {
    height: auto;
}
th.asciitab, td.asciitab {
    height: auto;
    text-align: left;
    white-space: nowrap;
    padding: 0px 1px 0px 1px !important;
}
th.asciitabbreak, td.asciitabbreak {
    height: auto;
    width: 20px;
    text-align: left;
    white-space: nowrap;
    padding: 0px 1px 0px 1px !important;
}
</style>
<div class="asciitab">
<table class="asciitab">
    <tbody>
        <tr class="asciitab">
            <th class="asciitab">Dec</th>
            <th class="asciitab">Hex</th>
            <th class="asciitab">Char</th>
            <th class="asciitabbreak"></th>
            <th class="asciitab">Dec</th>
            <th class="asciitab">Hex</th>
            <th class="asciitab">Char</th>
            <th class="asciitabbreak"></th>
            <th class="asciitab">Dec</th>
            <th class="asciitab">Hex</th>
            <th class="asciitab">Char</th>
            <th class="asciitabbreak"></th>
            <th class="asciitab">Dec</th>
            <th class="asciitab">Hex</th>
            <th class="asciitab">Char</th>
        </tr>
        <tr class="asciitab">
            <td class="asciitab">0</td>
            <td class="asciitab">0</td>
            <td class="asciitab"><b>NUL (null)</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">32</td>
            <td class="asciitab">20</td>
            <td class="asciitab"><b>Space</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">64</td>
            <td class="asciitab">40</td>
            <td class="asciitab"><b>@</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">96</td>
            <td class="asciitab">60</td>
            <td class="asciitab"><b>`</b></td>
        </tr>
        <tr class="asciitab">
            <td class="asciitab">1</td>
            <td class="asciitab">1</td>
            <td class="asciitab"><b>SOH (start of heading)</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">33</td>
            <td class="asciitab">21</td>
            <td class="asciitab"><b>!</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">65</td>
            <td class="asciitab">41</td>
            <td class="asciitab"><b>A</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">97</td>
            <td class="asciitab">61</td>
            <td class="asciitab"><b>a</b></td>
        </tr>
        <tr class="asciitab">
            <td class="asciitab">2</td>
            <td class="asciitab">2</td>
            <td class="asciitab"><b>STX (start of text)</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">34</td>
            <td class="asciitab">22</td>
            <td class="asciitab"><b>"</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">66</td>
            <td class="asciitab">42</td>
            <td class="asciitab"><b>B</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">98</td>
            <td class="asciitab">62</td>
            <td class="asciitab"><b>b</b></td>
        </tr>
        <tr class="asciitab">
            <td class="asciitab">3</td>
            <td class="asciitab">3</td>
            <td class="asciitab"><b>ETX (end of text)</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">35</td>
            <td class="asciitab">23</td>
            <td class="asciitab"><b>#</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">67</td>
            <td class="asciitab">43</td>
            <td class="asciitab"><b>C</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">99</td>
            <td class="asciitab">63</td>
            <td class="asciitab"><b>c</b></td>
        </tr>
        <tr class="asciitab">
            <td class="asciitab">4</td>
            <td class="asciitab">4</td>
            <td class="asciitab"><b>EOT (end of transmission)</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">36</td>
            <td class="asciitab">24</td>
            <td class="asciitab"><b>$</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">68</td>
            <td class="asciitab">44</td>
            <td class="asciitab"><b>D</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">100</td>
            <td class="asciitab">64</td>
            <td class="asciitab"><b>d</b></td>
        </tr>
        <tr class="asciitab">
            <td class="asciitab">5</td>
            <td class="asciitab">5</td>
            <td class="asciitab"><b>ENQ (enquiry)</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">37</td>
            <td class="asciitab">25</td>
            <td class="asciitab"><b>%</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">69</td>
            <td class="asciitab">45</td>
            <td class="asciitab"><b>E</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">101</td>
            <td class="asciitab">65</td>
            <td class="asciitab"><b>e</b></td>
        </tr>
        <tr class="asciitab">
            <td class="asciitab">6</td>
            <td class="asciitab">6</td>
            <td class="asciitab"><b>ACK (acknowledge)</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">38</td>
            <td class="asciitab">26</td>
            <td class="asciitab"><b>&</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">70</td>
            <td class="asciitab">46</td>
            <td class="asciitab"><b>F</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">102</td>
            <td class="asciitab">66</td>
            <td class="asciitab"><b>f</b></td>
        </tr>
        <tr class="asciitab">
            <td class="asciitab">7</td>
            <td class="asciitab">7</td>
            <td class="asciitab"><b>BEL (bell)</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">39</td>
            <td class="asciitab">27</td>
            <td class="asciitab"><b>'</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">71</td>
            <td class="asciitab">47</td>
            <td class="asciitab"><b>G</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">103</td>
            <td class="asciitab">67</td>
            <td class="asciitab"><b>g</b></td>
        </tr>
        <tr class="asciitab">
            <td class="asciitab">8</td>
            <td class="asciitab">8</td>
            <td class="asciitab"><b>BS  (backspace)</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">40</td>
            <td class="asciitab">28</td>
            <td class="asciitab"><b>(</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">72</td>
            <td class="asciitab">48</td>
            <td class="asciitab"><b>H</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">104</td>
            <td class="asciitab">68</td>
            <td class="asciitab"><b>h</b></td>
        </tr>
        <tr class="asciitab">
            <td class="asciitab">9</td>
            <td class="asciitab">9</td>
            <td class="asciitab"><b>TAB (horizontal tab)</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">41</td>
            <td class="asciitab">29</td>
            <td class="asciitab"><b>)</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">73</td>
            <td class="asciitab">49</td>
            <td class="asciitab"><b>I</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">105</td>
            <td class="asciitab">69</td>
            <td class="asciitab"><b>i</b></td>
        </tr>
        <tr class="asciitab">
            <td class="asciitab">10</td>
            <td class="asciitab">A</td>
            <td class="asciitab"><b>LF  (line feed, NL new line)</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">42</td>
            <td class="asciitab">2A</td>
            <td class="asciitab"><b>*</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">74</td>
            <td class="asciitab">4A</td>
            <td class="asciitab"><b>J</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">106</td>
            <td class="asciitab">6A</td>
            <td class="asciitab"><b>j</b></td>
        </tr>
        <tr class="asciitab">
            <td class="asciitab">11</td>
            <td class="asciitab">B</td>
            <td class="asciitab"><b>VT  (vertical tab)</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">43</td>
            <td class="asciitab">2B</td>
            <td class="asciitab"><b>+</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">75</td>
            <td class="asciitab">4B</td>
            <td class="asciitab"><b>K</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">107</td>
            <td class="asciitab">6B</td>
            <td class="asciitab"><b>k</b></td>
        </tr>
        <tr class="asciitab">
            <td class="asciitab">12</td>
            <td class="asciitab">C</td>
            <td class="asciitab"><b>FF  (form feed, NP new page)</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">44</td>
            <td class="asciitab">2C</td>
            <td class="asciitab"><b>,</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">76</td>
            <td class="asciitab">4C</td>
            <td class="asciitab"><b>L</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">108</td>
            <td class="asciitab">6C</td>
            <td class="asciitab"><b>l</b></td>
        </tr>
        <tr class="asciitab">
            <td class="asciitab">13</td>
            <td class="asciitab">D</td>
            <td class="asciitab"><b>CR  (carriage return)</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">45</td>
            <td class="asciitab">2D</td>
            <td class="asciitab"><b>-</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">77</td>
            <td class="asciitab">4D</td>
            <td class="asciitab"><b>M</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">109</td>
            <td class="asciitab">6D</td>
            <td class="asciitab"><b>m</b></td>
        </tr>
        <tr class="asciitab">
            <td class="asciitab">14</td>
            <td class="asciitab">E</td>
            <td class="asciitab"><b>SO  (shift out)</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">46</td>
            <td class="asciitab">2E</td>
            <td class="asciitab"><b>.</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">78</td>
            <td class="asciitab">4E</td>
            <td class="asciitab"><b>N</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">110</td>
            <td class="asciitab">6E</td>
            <td class="asciitab"><b>n</b></td>
        </tr>
        <tr class="asciitab">
            <td class="asciitab">15</td>
            <td class="asciitab">F</td>
            <td class="asciitab"><b>SI  (shift in)</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">47</td>
            <td class="asciitab">2F</td>
            <td class="asciitab"><b>/</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">79</td>
            <td class="asciitab">4F</td>
            <td class="asciitab"><b>O</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">111</td>
            <td class="asciitab">6F</td>
            <td class="asciitab"><b>o</b></td>
        </tr>
        <tr class="asciitab">
            <td class="asciitab">16</td>
            <td class="asciitab">10</td>
            <td class="asciitab"><b>DLE (data link escape)</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">48</td>
            <td class="asciitab">30</td>
            <td class="asciitab"><b>0</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">80</td>
            <td class="asciitab">50</td>
            <td class="asciitab"><b>P</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">112</td>
            <td class="asciitab">70</td>
            <td class="asciitab"><b>p</b></td>
        </tr>
        <tr class="asciitab">
            <td class="asciitab">17</td>
            <td class="asciitab">11</td>
            <td class="asciitab"><b>DC1 (device control 1)</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">49</td>
            <td class="asciitab">31</td>
            <td class="asciitab"><b>1</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">81</td>
            <td class="asciitab">51</td>
            <td class="asciitab"><b>Q</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">113</td>
            <td class="asciitab">71</td>
            <td class="asciitab"><b>q</b></td>
        </tr>
        <tr class="asciitab">
            <td class="asciitab">18</td>
            <td class="asciitab">12</td>
            <td class="asciitab"><b>DC2 (device control 2)</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">50</td>
            <td class="asciitab">32</td>
            <td class="asciitab"><b>2</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">82</td>
            <td class="asciitab">52</td>
            <td class="asciitab"><b>R</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">114</td>
            <td class="asciitab">72</td>
            <td class="asciitab"><b>r</b></td>
        </tr>
        <tr class="asciitab">
            <td class="asciitab">19</td>
            <td class="asciitab">13</td>
            <td class="asciitab"><b>DC3 (device control 3)</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">51</td>
            <td class="asciitab">33</td>
            <td class="asciitab"><b>3</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">83</td>
            <td class="asciitab">53</td>
            <td class="asciitab"><b>S</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">115</td>
            <td class="asciitab">73</td>
            <td class="asciitab"><b>s</b></td>
        </tr>
        <tr class="asciitab">
            <td class="asciitab">20</td>
            <td class="asciitab">14</td>
            <td class="asciitab"><b>DC4 (device control 4)</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">52</td>
            <td class="asciitab">34</td>
            <td class="asciitab"><b>4</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">84</td>
            <td class="asciitab">54</td>
            <td class="asciitab"><b>T</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">116</td>
            <td class="asciitab">74</td>
            <td class="asciitab"><b>t</b></td>
        </tr>
        <tr class="asciitab">
            <td class="asciitab">21</td>
            <td class="asciitab">15</td>
            <td class="asciitab"><b>NAK (negative acknowledge)</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">53</td>
            <td class="asciitab">35</td>
            <td class="asciitab"><b>5</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">85</td>
            <td class="asciitab">55</td>
            <td class="asciitab"><b>U</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">117</td>
            <td class="asciitab">75</td>
            <td class="asciitab"><b>u</b></td>
        </tr>
        <tr class="asciitab">
            <td class="asciitab">22</td>
            <td class="asciitab">16</td>
            <td class="asciitab"><b>SYN (synchronous idle)</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">54</td>
            <td class="asciitab">36</td>
            <td class="asciitab"><b>6</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">86</td>
            <td class="asciitab">56</td>
            <td class="asciitab"><b>V</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">118</td>
            <td class="asciitab">76</td>
            <td class="asciitab"><b>v</b></td>
        </tr>
        <tr class="asciitab">
            <td class="asciitab">23</td>
            <td class="asciitab">17</td>
            <td class="asciitab"><b>ETB (end of transmission block)</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">55</td>
            <td class="asciitab">37</td>
            <td class="asciitab"><b>7</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">87</td>
            <td class="asciitab">57</td>
            <td class="asciitab"><b>W</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">119</td>
            <td class="asciitab">77</td>
            <td class="asciitab"><b>w</b></td>
        </tr>
        <tr class="asciitab">
            <td class="asciitab">24</td>
            <td class="asciitab">18</td>
            <td class="asciitab"><b>CAN (cancel)</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">56</td>
            <td class="asciitab">38</td>
            <td class="asciitab"><b>8</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">88</td>
            <td class="asciitab">58</td>
            <td class="asciitab"><b>X</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">120</td>
            <td class="asciitab">78</td>
            <td class="asciitab"><b>x</b></td>
        </tr>
        <tr class="asciitab">
            <td class="asciitab">25</td>
            <td class="asciitab">19</td>
            <td class="asciitab"><b>EM  (end of medium)</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">57</td>
            <td class="asciitab">39</td>
            <td class="asciitab"><b>9</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">89</td>
            <td class="asciitab">59</td>
            <td class="asciitab"><b>Y</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">121</td>
            <td class="asciitab">79</td>
            <td class="asciitab"><b>y</b></td>
        </tr>
        <tr class="asciitab">
            <td class="asciitab">26</td>
            <td class="asciitab">1A</td>
            <td class="asciitab"><b>SUB (substitute)</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">58</td>
            <td class="asciitab">3A</td>
            <td class="asciitab"><b>:</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">90</td>
            <td class="asciitab">5A</td>
            <td class="asciitab"><b>Z</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">122</td>
            <td class="asciitab">7A</td>
            <td class="asciitab"><b>z</b></td>
        </tr>
        <tr class="asciitab">
            <td class="asciitab">27</td>
            <td class="asciitab">1B</td>
            <td class="asciitab"><b>ESC (escape)</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">59</td>
            <td class="asciitab">3B</td>
            <td class="asciitab"><b>;</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">91</td>
            <td class="asciitab">5B</td>
            <td class="asciitab"><b>[</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">123</td>
            <td class="asciitab">7B</td>
            <td class="asciitab"><b>{</b></td>
        </tr>
        <tr class="asciitab">
            <td class="asciitab">28</td>
            <td class="asciitab">1C</td>
            <td class="asciitab"><b>FS  (file separator)</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">60</td>
            <td class="asciitab">3C</td>
            <td class="asciitab"><b>&lt;</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">92</td>
            <td class="asciitab">5C</td>
            <td class="asciitab"><b>\</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">124</td>
            <td class="asciitab">7C</td>
            <td class="asciitab"><b>|</b></td>
        </tr>
        <tr class="asciitab">
            <td class="asciitab">29</td>
            <td class="asciitab">1D</td>
            <td class="asciitab"><b>GS  (group separator)</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">61</td>
            <td class="asciitab">3D</td>
            <td class="asciitab"><b>=</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">93</td>
            <td class="asciitab">5D</td>
            <td class="asciitab"><b>]</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">125</td>
            <td class="asciitab">7D</td>
            <td class="asciitab"><b>}</b></td>
        </tr>
        <tr class="asciitab">
            <td class="asciitab">30</td>
            <td class="asciitab">1E</td>
            <td class="asciitab"><b>RS  (record separator)</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">62</td>
            <td class="asciitab">3E</td>
            <td class="asciitab"><b>&gt;</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">94</td>
            <td class="asciitab">5E</td>
            <td class="asciitab"><b>^</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">126</td>
            <td class="asciitab">7E</td>
            <td class="asciitab"><b>~</b></td>
        </tr>
        <tr class="asciitab">
            <td class="asciitab">31</td>
            <td class="asciitab">1F</td>
            <td class="asciitab"><b>US  (unit separator)</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">63</td>
            <td class="asciitab">3F</td>
            <td class="asciitab"><b>?</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">95</td>
            <td class="asciitab">5F</td>
            <td class="asciitab"><b>_</b></td>
            <td class="asciitabbreak"></td>
            <td class="asciitab">127</td>
            <td class="asciitab">7F</td>
            <td class="asciitab"><b>DEL</b></td>
        </tr>
    </tbody>
</table>
</div>
