<style>
div.conversiontab {
    overflow-y: auto;
    overflow-x: auto;
    width: 95%;
    margin: auto;
    text-align: center;
}
table.conversiontab {
    display: inline;
    padding-top: 2px;
    width: min-content;
}
tr.conversiontab {
    height: auto;
}
th.conversiontab, td.conversiontab {
    height: auto;
    text-align: center !important;
    white-space: nowrap;
    padding: 1px 5px 1px 5px !important;
    width: 20px;
}
th.conversiontabbreak, td.conversiontabbreak {
    height: auto;
    width: 20px !important;
    text-align: center !important;
    white-space: nowrap;
    padding: 0px 1px 0px 1px !important;
}
</style>

<div class="conversiontab">
  <table class="conversiontab">
	<tbody>
	<tr class="conversiontab">
		<th class="conversiontab">Power of 2</th>
		<th class="conversiontab">Decimal</th>
	</tr>
	<tr class="conversiontab">
		<td class="conversiontab">2<sup>0</sup></td>
		<td class="conversiontab">1</td>
	</tr>
	<tr class="conversiontab">
		<td class="conversiontab">2<sup>1</sup></td>
		<td class="conversiontab">2</td>
	</tr>
	<tr class="conversiontab">
		<td class="conversiontab">2<sup>2</sup></td>
		<td class="conversiontab">4</td>
	</tr>
	<tr class="conversiontab">
		<td class="conversiontab">2<sup>3</sup></td>
		<td class="conversiontab">8</td>
	</tr>
	<tr class="conversiontab">
		<td class="conversiontab">2<sup>4</sup></td>
		<td class="conversiontab">16</td>
	</tr>
	<tr class="conversiontab">
		<td class="conversiontab">2<sup>5</sup></td>
		<td class="conversiontab">32</td>
	</tr>
	<tr class="conversiontab">
		<td class="conversiontab">2<sup>6</sup></td>
		<td class="conversiontab">64</td>
	</tr>
	<tr class="conversiontab">
		<td class="conversiontab">2<sup>7</sup></td>
		<td class="conversiontab">128</td>
	</tr>
	</tbody>
  </table>
  <br><br>
  <table class="conversiontab">
	<tbody>
	<tr>
		<th class="conversiontab">Decimal</th>
		<th class="conversiontab">Hex</th>
        <th class="conversiontab">Binary</th>
		<th class="conversiontab">Decimal</th>
        <th class="conversiontab">Hex</th>
		<th class="conversiontab">Binary</th>
	</tr>
	<tr class="conversiontab">
		<td class="conversiontab">0</td>
		<td class="conversiontab">0</td>
        <td class="conversiontab">0000</td>
        <td class="conversiontab">8</td>
		<td class="conversiontab">8</td>
        <td class="conversiontab">1000</td>
	</tr>
	<tr>
		<td class="conversiontab">1</td>
		<td class="conversiontab">1</td>
        <td class="conversiontab">0001</td>
        <td class="conversiontab">9</td>
		<td class="conversiontab">9</td>
        <td class="conversiontab">1001</td>
	</tr>
	<tr>
		<td class="conversiontab">2</td>
		<td class="conversiontab">2</td>
        <td class="conversiontab">0010</td>
        <td class="conversiontab">10</td>
		<td class="conversiontab">A</td>
        <td class="conversiontab">1010</td>
	</tr>
	<tr>
		<td class="conversiontab">3</td>
		<td class="conversiontab">3</td>
        <td class="conversiontab">0011</td>
        <td class="conversiontab">11</td>
		<td class="conversiontab">B</td>
        <td class="conversiontab">1011</td>
	</tr>
	<tr>
		<td class="conversiontab">4</td>
		<td class="conversiontab">4</td>
        <td class="conversiontab">0100</td>
        <td class="conversiontab">12</td>
		<td class="conversiontab">C</td>
        <td class="conversiontab">1100</td>
	</tr>
	<tr>
		<td class="conversiontab">5</td>
		<td class="conversiontab">5</td>
        <td class="conversiontab">0101</td>
        <td class="conversiontab">13</td>
		<td class="conversiontab">D</td>
        <td class="conversiontab">1101</td>
	</tr>
	<tr>
		<td class="conversiontab">6</td>
		<td class="conversiontab">6</td>
        <td class="conversiontab">0110</td>
        <td class="conversiontab">14</td>
		<td class="conversiontab">E</td>
        <td class="conversiontab">1110</td>
	</tr>
	<tr>
		<td class="conversiontab">7</td>
		<td class="conversiontab">7</td>
        <td class="conversiontab">0111</td>
        <td class="conversiontab">15</td>
		<td class="conversiontab">F</td>
        <td class="conversiontab">1111</td>
	</tr>
	</tbody>
  </table>
</div>