<!DOCTYPE HTML>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    <div class="book">
        {%- include lc3navigation.html -%}

        <div class="book-body">
            <div class="book-header" role="navigation">
                <!-- Title -->
                <h1>
                    <i class="fa fa-circle-o-notch fa-spin"></i>
                    {% assign subsection_object = site.data.navigation.subsections | find_value: page.title %}
                    {% if page.title %}
                        <a href="." >{{ subsection_object.title | escape }}</a>
                    {% else %}
                        <a href="." >{{ subsection_object.title | escape }}</a>
                    {% endif %}
                </h1>
                <div class="theme-switch-container">
                    <label class="theme-switch" for="checkbox">
                        <input type="checkbox" id="checkbox" />
                        <div class="slider round"></div>
                    </label>
                </div>
            </div>

            <div class="body-inner">
                {%- include body.html -%}

                <a href="{{subsection_object.prev}}" class="navigation navigation-prev navigation-unique" aria-label="Previous page: {{subsection_object.prev}}">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a href="{{subsection_object.next}}" class="navigation navigation-next navigation-unique" aria-label="Next page: {{subsection_object.next}}">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>

        <script>
        var gitbook = gitbook || [];
        gitbook.push(function() {
            gitbook.page.hasChanged({%- include metadata-post.json.tpl -%});
        });
        </script>
    </div>

    {%- include footer.html -%}

</body>
</html>