<!DOCTYPE HTML>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    <div class="book">
        {%- include lc3navigation.html -%}

        <div class="book-body">
            <div class="book-header" role="navigation">
                <!-- Hamburger: toggles .with-summary on .book (same as gitbook sidebar.toggle) -->
                <a class="btn pull-left" aria-label="Toggle sidebar" href="#" onclick="event.preventDefault(); gitbook.sidebar.toggle();">
                    <i class="fa fa-align-justify"></i>
                </a>
                <!-- Title -->
                <h1>
                    {% assign subsection_object = site.data.navigation.subsections[page.title] %}
                    <a href=".">{{ subsection_object.title | escape }}</a>
                </h1>
                <!-- Theme toggle replaces the sharing button on the right -->
                <div class="theme-switch-container">
                    <label class="theme-switch" for="checkbox">
                        <input type="checkbox" id="checkbox" />
                        <div class="slider round"></div>
                    </label>
                </div>
            </div>

            <div class="body-inner">
                {%- include body.html -%}

                {% assign subsection_object = site.data.navigation.subsections[page.title] %}
                <a href="{{subsection_object.prev}}" class="navigation navigation-prev navigation-unique" aria-label="Previous page: {{subsection_object.prev}}">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a href="{{subsection_object.next}}" class="navigation navigation-next navigation-unique" aria-label="Next page: {{subsection_object.next}}">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>

        <script>
        var gitbook = gitbook || [];
        gitbook.push(function() {
            gitbook.page.hasChanged({%- include metadata-post.json.tpl -%});
        });
        </script>
    </div>

    {%- include footer.html -%}

</body>
</html>